.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.topbar {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 102, 255);
}
button {
  height: 50px;
  width: 150px;
  font-size: large;
  color: white;
  background-color: rgba(0, 72, 139);
  margin: 10px;
  cursor: pointer;
}

.users {
  width: 400px;
  height: 200px;
  border: 1px solid blue;
  display: inline-block;
  margin: 3px;
  text-align: left;
  padding: 2px;
}
.todos {
  width: 80%;
  height: 130px;
  border: 1px solid blue;
  display: inline-block;
  margin: 3px;
  text-align: left;
  padding: 5px;
}
.error {
  border: 1px solid blue;
  background-color: gray;
  color: white;
  width: 100%;
  text-align: center;
}
